<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/styles/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/styles/css_main.css" rel="stylesheet" type="text/css">
    <link href="/styles/tree-default.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/scripts/commonNew.js" type="text/javascript"></script>
    <script language="javascript" src="/scripts/tree-default.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="resize(this);" onresize="resize(this);" class="ctxpanel" marginwidth="0" marginheight="0">
	<div id="context-menubar">
		<div id="context-menubar-content">
            <h1>Users</h1>
            {{#each users}}
            <table class="user-menuitem" onclick="document.getElementById('view-user-{{id}}').click()">
                <tr>
                    <td>
                        <div class="user-menuitem-avatar">
                            <div class="tooltip">
                                <img src="{{avatarUrlSmall}}" width="32" height="32" title="Avatar" style="border-radius: 16px;">
                                <span class="tooltiptext">
                                    <img src="{{avatarUrlLarge}}">
                                </span>
                            </div>
                        </div>
                        <span class="user-menuitem-name" title="Username">{{name}}</span>
                        
                        {{#if haveDatabase}}
                        <img src="/images/database2.svg" width="12" height="12" title="Has Database" alt="Database Icon" style="transform: translateY(-6px); opacity: 50%;">
                        {{/if}}
                    </td>
                    <td>
                        <img class="show-invert-{{haveDatabase}} miniicon" src="/images/err2.png" width="16" height="16">
                        <form action="/dcbot/view/Database.html/Search" method="post" style="margin: 0; display: inline-block;"
                            onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {Reload()}, 1000);">
                            <input type="text" name="id" value="{{id}}" style="display: none;">
                            <input id="view-user-{{id}}" style="display: none" type="submit" value="View">
                        </form>
                    </td>
                </tr>
            </table>
            {{/each}}
            <table class="user-menuitem user-menuitem-selected">
                <tr>
                    <td>
                        <div class="user-menuitem-avatar">
                            <div class="tooltip">
                                <img src="{{user.avatarUrlSmall}}" width="32" height="32" title="Avatar" style="border-radius: 16px;">
                                <span class="tooltiptext">
                                    <img src="{{user.avatarUrlLarge}}">
                                </span>
                            </div>
                        </div>
                        <span class="user-menuitem-name" title="Username">{{user.name}}</span>
                        
                        {{#if haveDatabase}}
                        <img src="/images/database2.svg" width="12" height="12" title="Has Database" alt="Database Icon" style="transform: translateY(-6px); opacity: 50%;">
                        {{/if}}
                    </td>
                </tr>
            </table>
		</div>
    	<div id="bot-status-panel">
			<iframe src="/dcbot/BotStatusPanel" style="width:100%;height:100%;border:0px;"></iframe>
		</div>
	</div>
	<div id="content">
        <h1 style="display: inline-block">Database</h1>

        <form action="/dcbot/view/Database.html/Back" method="post"
            style="display: inline-block; margin-right: 20px; position: relative; left: 16px; top: -4px;"
            onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {Reload()}, 1000);">
            <input type="submit" value="" class="btn-tool btn-tool-back">
        </form>
        
        <div class="container loading-effect">
            <h2>
                BOT's database
            </h2>

            <span class="data-number">Day:</span> <b>{{bot.day}}</b>
        </div>
        
        <div class="container loading-effect">
            <h2>
                <div class="tooltip" style="transform: translateY(5px);">
                    <img src="{{user.avatarUrlSmall}}" width="32" height="32" title="Avatar" style="border-radius: 16px;">
                    <span class="tooltiptext">
                        <img src="{{user.avatarUrlLarge}}">
                    </span>
                </div>
                {{user.name}}'s database
            </h2>

            <ul id="myUL">
                <li><span class="caret caret-down">Basic</span>
                    <ul class="nested active">
                        <form action="/dcbot/view/Database.html/Modify/Basic" method="post" onsubmit="
                            this.style.pointerEvents='none';
                            this.style.opacity='20%';
                            setTimeout(() => {Reload()}, 1000);
                            ">
                            <li>
                                <span class="data-{{userDatabase.scoreType}}">Score: </span>
                                <input name="score" type="number" value="{{userDatabase.score}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.moneyType}}"> Money: </span>
                                <input name="money" type="number" value="{{userDatabase.money}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.dayType}}"> Day: </span>
                                <input name="day" type="number" value="{{userDatabase.day}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.colorType}}"> Color: </span>
                                <div style="
                                    display: inline-block;
                                    transform: translateY(5px);
                                    width: 16px;
                                    height: 16px;
                                    border: 1px solid black;
                                    border-radius: 3px;
                                    background-color: {{userDatabase.color}};                                            
                                ">
                                </div>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.privateCommandsType}}">Private commands: </span>
                                <b>{{userDatabase.privateCommands}}</b>
                            </li>
                            <div style="height: 7px;"></div>
                            <input type="submit" value="Modify">
                            <input type="reset" value="Reset">
                        </form>
                    </ul>
                </li>
                <li><span class="caret caret-down">Backpack</span>
                    <ul class="nested active">
                        <form action="/dcbot/view/Database.html/Modify/Backpack" method="post" onsubmit="
                            this.style.pointerEvents='none';
                            this.style.opacity='20%';
                            setTimeout(() => {Reload()}, 1000);
                            ">
                            <li>
                                <span class="data-{{userDatabase.cratesType}}">Crates: </span>
                                <input name="crates" type="number" value="{{userDatabase.crates}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.giftsType}}">Gifts: </span>
                                <input name="gifts" type="number" value="{{userDatabase.gifts}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.getGiftType}}">Get gift: </span>
                                <input name="getGift" type="number" value="{{userDatabase.getGift}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.ticketsType}}">Tickets: </span>
                                <input name="tickets" type="number" value="{{userDatabase.tickets}}" required>
                            </li>
                            <li>
                                <span class="data-{{userDatabase.quizTokensType}}">Quiz tokens: </span>
                                <input name="quizTokens" type="number" value="{{userDatabase.quizTokens}}"
                                    required>
                            </li>
                            <li><span class="caret">Lucky cards</span>
                                <ul class="nested">
                                    <li>
                                        <span class="data-{{userDatabase.luckyCards.smallType}}">Small: </span>
                                        <input name="luckyCardsSmall" type="number"
                                            value="{{userDatabase.luckyCards.small}}" required>
                                    </li>
                                    <li>
                                        <span class="data-{{userDatabase.luckyCards.mediumType}}">Medium: </span>
                                        <input name="luckyCardsMedium" type="number"
                                            value="{{userDatabase.luckyCards.medium}}" required>
                                    </li>
                                    <li>
                                        <span class="data-{{userDatabase.luckyCards.largeType}}">Large: </span>
                                        <input name="luckyCardsLarge" type="number"
                                            value="{{userDatabase.luckyCards.large}}" required>
                                    </li>
                                </ul>
                            </li>
                            <div style="height: 7px;"></div>
                            <input type="submit" value="Modify">
                            <input type="reset" value="Reset">
                        </form>
                    </ul>
                </li>
                <li><span class="caret">Business</span>
                    <ul class="nested">
                        <form action="/dcbot/view/Database.html/Modify/Business" method="post" onsubmit="
                            this.style.pointerEvents='none';
                            this.style.opacity='20%';
                            setTimeout(() => {Reload()}, 1000);
                            ">
                            <li><span class="data-number">Index:
                                </span><b>{{userDatabase.businessIndex}}</b></li>
                            <li><span class="data-string">Name:
                                </span><b>{{userDatabase.businessName}}</b>
                            </li>
                            <li><span class="data-number">Level:
                                </span><b>{{userDatabase.businessLevel}}</b></li>
                            <!--
                            <input type="submit" value="Modify">
                            <input type="reset" value="Reset">
                            -->
                        </form>
                    </ul>
                </li>
                <li><span class="caret">Stickers</span>
                    <ul class="nested">
                        <form action="/dcbot/view/Database.html/Modify/Stickers" method="post" onsubmit="
                            this.style.pointerEvents='none';
                            this.style.opacity='20%';
                            setTimeout(() => {Reload()}, 1000);
                            ">
                            <li>
                                <span class="data-number">Meme: </span>
                                <input name="stickersMeme" type="number" value="{{userDatabase.stickersMeme}}" required>
                            </li>
                            <li>
                                <span class="data-number">Music: </span>
                                <input name="stickersMusic" type="number" value="{{userDatabase.stickersMusic}}" required>
                            </li>
                            <li>
                                <span class="data-number">Youtube: </span>
                                <input name="stickersYoutube" type="number" value="{{userDatabase.stickersYoutube}}" required>
                            </li>
                            <li>
                                <span class="data-number">Message: </span>
                                <input name="stickersMessage" type="number" value="{{userDatabase.stickersMessage}}" required>
                            </li>
                            <li>
                                <span class="data-number">Command: </span>
                                <input name="stickersCommand" type="number" value="{{userDatabase.stickersCommand}}" required>
                            </li>
                            <li>
                                <span class="data-number">Tip: </span>
                                <input name="stickersTip" type="number" value="{{userDatabase.stickersTip}}" required>
                            </li>
                            <div style="height: 7px;"></div>
                            <input type="submit" value="Modify">
                            <input type="reset" value="Reset">
                        </form>
                    </ul>
                </li>
                <li><span class="caret">Statistics</span>
                    <ul class="nested">
                        <li><span class="data-number">Memes: </span><b>{{userDatabase.memes}}</b></li>
                        <li><span class="data-number">Musics: </span><b>{{userDatabase.musics}}</b></li>
                        <li><span class="data-number">Youtube Videos:
                            </span><b>{{userDatabase.youtubevideos}}</b></li>
                        <li><span class="data-number">Messages: </span><b>{{userDatabase.messages}}</b></li>
                        <li><span class="data-number">Chars: </span><b>{{userDatabase.chars}}</b></li>
                        <li><span class="data-number">Commands: </span><b>{{userDatabase.commands}}</b></li>
                    </ul>
                </li>
            </ul>
        </div>

        <form action="/database/fix" method="post"
            style="margin: 0;"
            onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000);">
                <input type="text" name="id" value="{{user.id}}" style="display: none;">
                <input type="submit" value="Fix Types">
        </form>
    </div>
    
    <script>function Reload(){if(location.href.includes('#noReload')){location.reload()}else{location.href+='#noReload';location.reload()};}</script>
    <script src="/scripts/loadEffect.js"></script>
</body>

</html>