<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<link href="/styles/css-vars.css" rel="stylesheet" type="text/css">
	<link href="/styles/css_main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/scripts/common.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

	<script>
		var refreshing = true
		var autoReload = true
		setInterval(() => {
			if (autoReload == true) {
				// window.location.reload()
			}
		}, 10000)
	</script>
</head>

<body onload="LoadHelp(window); resize(this);" onresize="resize(this);" marginwidth="0"
	marginheight="0">
	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)">&lt;</button>

	<table id="autoWidth" style="width: 598px;">
		<tbody>
			<tr>
				<td class="h1" colspan="3">Status</td>
			</tr>
			<tr>
				<td class="blue" colspan="3"></td>
			</tr>
			<tr>
				<td class="h2" colspan="3">Process</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">
					<form action="/userViews/Process/Exit" method="post" style="display: inline-block;"
						onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
						<input type="submit" value="Exit">
					</form>
					<div style="display: inline-block;" id="restart-form">
						<button style="transform: translateY(1px);" onclick="Restart(6000)">Restart</button>
					</div>
					<div style="display: none;" id="restartProgressPanel">
						<label for="restartProgress">Restarting...</label>
						<progress id="restartProgress" value="0" max="100"></progress>
						<div>
						<img src="/images/state-.png" class="miniicon" id="server-ping-icon">
						<span id="server-ping-label"></span>
						</div>
					</div>
				</td>
				<script>
					var sendPing = true
					var currentlyReloading = false
					var enableReloadOnPingSuccess = false
					const serverPingLabel = document.getElementById('server-ping-label')
					const serverPingIcon = document.getElementById('server-ping-icon')
					var pingInterval = setInterval(() => {
						if (!sendPing) {
							if (!currentlyReloading) {
							 	return
							}
						}
						
						const xhr = new XMLHttpRequest()
						xhr.open('GET', '/json/ping')
						xhr.timeout = 50

						xhr.onload = () => {
							serverPingLabel.innerText = 'Server is up'
							serverPingIcon.src = "/images/state-Ready.png"
							sendPing = false
							if (enableReloadOnPingSuccess) {
								window.location.reload()
							}
						}

						xhr.ontimeout = (e) => {
							serverPingLabel.innerText = 'Server is down'
							serverPingIcon.src = "/images/state-.png"
						}

						xhr.send(null)
					}, 100)
					
					var i = 0
					/** @param {numner} ms */
					function Restart(ms) {
						currentlyReloading = true
						enableReloadOnPingSuccess = false

						setTimeout(() => {
							enableReloadOnPingSuccess = true
						}, 2000)

						const form = document.getElementById("restart-form")
						form.style.pointerEvents='none'
						form.style.opacity='20%'
						
						var xhr = new XMLHttpRequest();
						xhr.open("POST", '/userViews/Process/Restart', true);
						xhr.setRequestHeader('Content-Type', 'application/json');
						xhr.send()

						if (i == 0) {
							autoReload = false
							refreshing = false
							const panel = document.getElementById('restartProgressPanel')
							panel.style.display = 'block'

							i = 1
							const elem = document.getElementById('restartProgress')
							var value = 0
							var id = setInterval(Tick, ms / 100)

							function Tick() {
								if (value >= 100) {
									panel.style.display = 'none'
									clearInterval(id)
									i = 0
								} else {
									value++
									elem.value = value
								}
							}
						}
					}
				</script>
			</tr>
			<tr>
				<td width="25%" class="Item">CPUs:</td>
			</tr>
            <tr>
				<td></td>
                <td>
                    <table class="datas" border="1" align="center" width="698" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="ListM">
                                    <b>Model</b>
                                </td>
                                <td class="ListM"  style="width: 100%;">
                                    <b>Times</b>
                                </td>
                            </tr>
							<style>
								.multi-progressbar-content {
									height: 100%;
									display: inline-block;
									margin: 0;
									color: #fff;
									padding-top: 2px;
									text-align: center;
									border-left: 1px solid #fff;
									background: #077ba8;
									text-overflow: clip;
								}

								.multi-progressbar-content > div {
									width: 100%;
									overflow: hidden;
									font-size: 11px;
									display: inline-block;
									user-select: none;
								}

								.tooltiptext {
									font-size: 12px;
									transform: translateY(-30px);
									color: #000;
									z-index: 2;
								}
							</style>
                            {{#each bot.system.CPUs}}
                            <tr>
                                <td style="padding:0px 2px 0px 2px;word-break:break-all">
									{{model}}
                                </td>
                                <td style="padding:0px 2px 0px 2px;word-break:break-all">
									<div style="font-size: 0px; height: 16px; width: 100%; border: 1px solid #cbcbcb; background: #efefef;">
										<div id="cpu{{id}}t0" class="multi-progressbar-content tooltip">
											<span class="tooltiptext">
												{{times.user}} sec
											</span>
											<div>User</div>
										</div>
										<div id="cpu{{id}}t1" class="multi-progressbar-content tooltip">
											<span class="tooltiptext">
												{{times.idle}} sec
											</span>
											<div>Idle</div>
										</div>
										<div id="cpu{{id}}t2" class="multi-progressbar-content tooltip">
											<span class="tooltiptext">
												{{times.sys}} sec
											</span>
											<div>Sys</div>
										</div>
										<div id="cpu{{id}}t3" class="multi-progressbar-content tooltip">
											<span class="tooltiptext">
												{{times.irq}} sec
											</span>
											<div>Irq</div>
										</div>
										<div id="cpu{{id}}t4" class="multi-progressbar-content tooltip">
											<span class="tooltiptext">
												{{times.nice}} sec
											</span>
											<div>Nice</div>
										</div>
									</div>
                                </td>
                            </tr>
							<script>
								var syst{{id}}V0 = {{times.user}};
								var syst{{id}}V1 = {{times.idle}};
								var syst{{id}}V2 = {{times.sys}};
								var syst{{id}}V3 = {{times.irq}};
								var syst{{id}}V4 = {{times.nice}};

								const total{{id}} = syst{{id}}V0 + syst{{id}}V1 + syst{{id}}V2 + syst{{id}}V3 + syst{{id}}V4;

								document.getElementById('cpu{{id}}t0').style.width = 'calc(' + (syst{{id}}V0 / total{{id}} * 100) + '%' + ' - 2px)';
								document.getElementById('cpu{{id}}t1').style.width = 'calc(' + (syst{{id}}V1 / total{{id}} * 100) + '%' + ' - 2px)';
								document.getElementById('cpu{{id}}t2').style.width = 'calc(' + (syst{{id}}V2 / total{{id}} * 100) + '%' + ' - 2px)';
								document.getElementById('cpu{{id}}t3').style.width = 'calc(' + (syst{{id}}V3 / total{{id}} * 100) + '%' + ' - 2px)';
								document.getElementById('cpu{{id}}t4').style.width = 'calc(' + (syst{{id}}V4 / total{{id}} * 100) + '%' + ' - 2px)';
							</script>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
			<tr>
				<td width="25%" class="Item">System Uptime:</td>
				<td colspan="2">
					<span id="system-uptime-label">{{bot.system.Uptime}}</span>
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item">Memory:</td>
				<td colspan="2">
					<meter min="0" max="{{bot.system.TotalMemory}}" value="{{bot.system.UsedMemory}}"></meter>
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item">Logged in as:</td>
				<td colspan="2">
					{{bot.system.UserInfo.username}}
				</td>
			</tr>
			<tr>
				<td class="blue" colspan="3"></td>
			</tr>
			<tr>
				<td class="h2" colspan="3">BOT</td>
			</tr>
			<tr>
				<td width="25%" class="Item">Ready time:</td>
				<td colspan="2">
					{{bot.readyTime}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item">Uptime:</td>
				<td colspan="2">
					<span id="uptime-label">{{bot.uptime}}</span>
				</td>
			</tr>
			<tr>
				<td class="Item">Status:</td>
				<td colspan="2">
					<img src="/images/state-{{bot.statesManager.botLoadingState}}.png" class="miniicon" id="bot-loading-state-icon">
					<span id="bot-loading-state-label">{{bot.statesManager.botLoadingState}}</span>
				</td>
			</tr>
			<tr>
				<td class="Item"></td>
				<td colspan="2">
					<form action="/startBot" method="post" style="display: inline-block;"
						onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
						<input type="submit" class="show-invert-{{bot.botStarted}}" value="StartBot">
					</form>
					<form action="/stopBot" method="post" style="display: inline-block;"
						onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
						<input type="submit" class="show-{{bot.botStarted}}" value="StopBot">
					</form>
				</td>
			</tr>
			<tr>
				<td class="blue" colspan="3"></td>
			</tr>
			<tr>
				<td class="h2" colspan="3">Web Socket</td>
			</tr>
			<tr>
				<td class="Item">Ping:</td>
				<td colspan="2"><span id="ws-ping-label">{{bot.ws.ping}}</span>ms</td>
			</tr>
			<tr>
				<td class="Item">Status:</td>
				<td colspan="2">
					<img src="/images/state-{{bot.ws.status}}.png" class="miniicon" id="ws-state-icon">
					<span id="ws-state-label">{{bot.ws.status}}</span>
				</td>
			</tr>
			<tr>
				<td class="Item">Shard status:</td>
				<td colspan="2">
					<img src="/images/state-{{bot.shard.state}}.png" class="miniicon" id="shard-state-icon">
					<span id="shard-state-label">{{bot.shard.state}}</span>
				</td>
			</tr>
			<tr class="show-{{showWeatherStatus}}">
				<td class="blue" colspan="3"></td>
			</tr>
			<tr class="show-{{showWeatherStatus}}">
				<td class="h2" colspan="3">Weather report</td>
			</tr>
			<tr class="show-{{showWeatherStatus}}">
				<td class="Item">Status:</td>
				<td colspan="2"><span>{{bot.statesManager.WeatherReport.Text}}</span></td>
			</tr>
			<tr class="show-{{showNewsStatus}}">
				<td class="blue" colspan="3"></td>
			</tr>
			<tr class="show-{{showNewsStatus}}">
				<td class="h2" colspan="3">News</td>
			</tr>
			<tr class="show-{{showNewsStatus}}">
				<td class="Item">All processed:</td>
				<td colspan="2"><span>{{bot.statesManager.News.AllProcessed}}</span></td>
			</tr>
			<tr class="show-{{showNewsStatus}}">
				<td class="Item">Loading text 1:</td>
				<td colspan="2"><span>{{bot.statesManager.News.LoadingText}}</span></td>
			</tr>
			<tr class="show-{{showNewsStatus}}">
				<td class="Item">Loading text 2:</td>
				<td colspan="2"><span>{{bot.statesManager.News.LoadingText2}}</span></td>
			</tr>
		</tbody>
	</table>

	<script>
		setInterval(() => {
			if (!refreshing) { return }
			var xd =  new XMLHttpRequest()
			xd.open('GET', '/json/status')
			xd.send()
			xd.onloadend = (a) => {
				if (xd.status == 200) {
					const res = JSON.parse(xd.responseText)
					document.getElementById('bot-loading-state-label').innerText = res.botLoadingState
					document.getElementById('bot-loading-state-icon').src = "/images/state-" + res.botLoadingState + ".png"
					
					document.getElementById('shard-state-label').innerText = res.shardState
					document.getElementById('shard-state-icon').src = "/images/state-" + res.shardState + ".png"
					
					document.getElementById('ws-state-label').innerText = res.ws.status
					document.getElementById('ws-ping-label').innerText = res.ws.ping
					document.getElementById('ws-state-icon').src = "/images/state-" + res.ws.status + ".png"
					
					document.getElementById('uptime-label').innerText = res.uptime

					document.getElementById('system-uptime-label').innerText = res.systemUptime
				}
			}
		}, 500)
	</script>
</body>

</html>