<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/stylesNew/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/stylesNew/css_main.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/scripts/commonNew.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="LoadHelp(window); resize(this);" onresize="resize(this);" marginwidth="0" marginheight="0">
   	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)">&lt;</button>

	<h1>Cache</h1>

	<div class="container loading-effect">
		<h2>Guilds</h2>
        <table border="1" align="center" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="ListM" style="width: 100%;"></td>
                    <td class="ListM">
                        <b>ID</b>
                    </td>
                    <td class="ListM">
                        <b>Members</b>
                    </td>
                    <td class="ListM">
                        <b>Avai.</b>
                    </td>
                    <td></td>
                </tr>
                {{#each servers}}
                <tr>
                    <td style="padding:0 2px">
                        <button title="Show/Hide info" style="margin-right: 7px; float: left;" class="btn-toggle-info btn-toggle-info-show" id="btn-toggle-info-{{id}}" onclick="ToggleGuildInfo('{{id}}')"></button>
                        <div style="display: inline-block; transform: translate(-2px, 4px);">
                            <div class="tooltip">
                                <img class="server-icon" src="{{iconUrlSmall}}" width="16" height="16" title="Icon">
                                <span class="tooltiptext">
                                    <img src="{{iconUrlLarge}}" alt="Ennek a szervernek nincs ikonja">
                                </span>
                            </div>
                        </div>
                        <span title="Name">{{name}}</span>
                    </td>
                    <td style="padding:0 2px">
                        {{id}}
                    </td>
                    <td style="padding:0 2px">
                        {{memberCount}}
                    </td>
                    <td style="padding:0 2px">
                        <img width="16" height="16" src="/imagesNew/bool-{{available}}.png">
                    </td>
                    <td>
                        <button title="Fetch" class="btn-fetch" onclick="Post('/FetchGuild?id={{id}}', event, () => { window.location.reload() })"></button>
                    </td>
                </tr>
                <tr class="info info-hidden" id="guild-info-{{id}}">
                    <td colspan="5" style="width: 100%;padding-left: 20px;">
                        <table border="1" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    Created at:
                                </td>
                                <td style="width: 100%;">
                                    <span title="{{createdAt}}">{{createdAtText}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Joined at:
                                </td>
                                <td>
                                    <span title="{{joinedAt}}">{{joinedAtText}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Splash:
                                </td>
                                <td>
                                    {{splash}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Verification level:
                                </td>
                                <td>
                                    <img width="16" height="16" src="/imagesNew/shield-{{verificationLevel}}.png">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Large:
                                </td>
                                <td>
                                    <img width="16" height="16" src="/imagesNew/bool-{{large}}.png">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Partnered:
                                </td>
                                <td>
                                    <img width="16" height="16" src="/imagesNew/bool-{{partnered}}.png">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Verified:
                                </td>
                                <td>
                                    <img width="16" height="16" src="/imagesNew/bool-{{verified}}.png">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    MFA level:
                                </td>
                                <td>
                                    {{mfaLevel}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    NSFW level:
                                </td>
                                <td>
                                    {{nsfwLevel}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
	</div>

    <div class="container loading-effect">
        <h2>Fetch Guild</h2>
        <form action="/FetchGuild" method="post" style="margin: 0; display: inline-block;"
            onsubmit="
                event.preventDefault()
                Post('/FetchGuild?id=' + document.getElementById('fetch-guild-id').value, event, () => {
                    window.location.reload()
                }, 'fetch-guild-error')
            ">
            <input type="text" name="id" value="{{this.id}}" id="fetch-guild-id">
            <input type="submit" value="Fetch">
        </form>
        <p style="color: #b32d2d;" id="fetch-guild-error"></p>
    </div>

    <style>
        tr.info > td > table {
            height: 100%;
        }

        tr.info > td > table tr:first-child,
        tr.info > td > table tr:first-child td {
            border-top: none;
        }

        tr.info > td > table tr:last-child,
        tr.info > td > table tr:last-child td {
            border-bottom: none;
        }

        tr.info-hidden,
        tr.info-hidden > td {
            display: none;
        }

        tr.info-show,
        tr.info-show > td {
            
        }
    </style>
    
    <script>
        /** @param {string} ID */
        function ToggleGuildInfo(ID) {
            const panel = document.getElementById('guild-info-' + ID)
            const button = document.getElementById('btn-toggle-info-' + ID)
            if (panel.classList.contains('info-show')) {
                panel.classList.remove('info-show')
                panel.classList.add('info-hidden')

                button.classList.remove('btn-toggle-info-hide')
                button.classList.add('btn-toggle-info-show')
            } else {
                panel.classList.add('info-show')
                panel.classList.remove('info-hidden')

                button.classList.add('btn-toggle-info-hide')
                button.classList.remove('btn-toggle-info-show')           
            }
        }
    </script>

    <script>
        /** @param {Event} event */
        function Post(url, event, callback, errorLabelID)
        {
            event.srcElement.classList.add('disabled')
            var xmlHttp = new XMLHttpRequest()
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4)
                {
                    event.srcElement.classList.remove('disabled')
                    const res = JSON.parse(xmlHttp.responseText)
                    if (res.message === 'ok') {
                        console.log('Success')
                        callback(xmlHttp.responseText)
                    } else if (res.rawError !== undefined) {
                        console.warn(JSON.stringify(res, null, ' '))
                        if (errorLabelID !== undefined) {
                            const errorLabel = document.getElementById(errorLabelID)
                            var details = ''
                            if (res.rawError.errors !== undefined) {
                                details = `: ${res.rawError.errors.guild_id._errors[0].message}`
                            }
                            errorLabel.innerHTML = 
                            `
                            <b><a href='${res.url}' target='_blank'>HTTP ${res.method}</a>: ${res.status}</b><br>
                            ${res.rawError.message} (code: ${res.rawError.code})${details}
                            `
                        }
                    }
                }
            }
            xmlHttp.open('POST', url, true)
            xmlHttp.send(null)
        }
    </script>
    <script src="../scripts/loadEffect.js"></script>
</body>

</html>
