<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/stylesNew/css-vars.css" rel="stylesheet" type="text/css">
	<link href="/stylesNew/css_main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/scripts/commonNew.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

	<script>		
		var i = 0
		/** @param {numner} ms */
		function Restart(ms) {
			const form = document.getElementById("restart-form")
			form.style.pointerEvents='none'
			form.style.opacity='20%'
			
			var xhr = new XMLHttpRequest();
			xhr.open("POST", '/Process/Restart', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send()

			if (i == 0) {
				const panel = document.getElementById('restartProgressPanel')
				panel.style.display = 'block'

				i = 1
				const elem = document.getElementById('restartProgress')
				var value = 0
				var id = setInterval(Tick, ms / 100)

				function Tick() {
					if (value >= 100) {
						panel.style.display = 'none'
						clearInterval(id)
						i = 0
						Reload()
					} else {
						value++
						elem.value = value
					}
				}
			}
		}
	</script>
</head>

<body onload="LoadHelp(window); resize(this);" onresize="resize(this);" marginwidth="0"
	marginheight="0">
   	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)">&lt;</button>

    <h1>Process</h1>

	<div class="container loading-effect">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td width="25%" class="Item">Execute path:</td>
                    <td colspan="2">
                        {{process.execPath}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Chrome Version:</td>
                    <td colspan="2">
                        {{process.chrome}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Context ID:</td>
                    <td colspan="2">
                        {{process.contextId}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Context isolated:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.contextIsolated}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Default app:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-force-{{process.defaultApp}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Is main frame:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-force-{{process.isMainFrame}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">No deprecation:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.noDeprecation}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Process ID:</td>
                    <td colspan="2">
                        {{process.pid}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">pp ID:</td>
                    <td colspan="2">
                        {{process.ppid}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Resources path:</td>
                    <td colspan="2">
                        {{process.resourcesPath}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Sandboxed:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-force-{{process.sandboxed}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Throw deprecation:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.throwDeprecation}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Title:</td>
                    <td colspan="2">
                        {{process.title}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Trace deprecation:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.traceDeprecation}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Trace process warnings:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.traceProcessWarnings}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Type:</td>
                    <td colspan="2">
                        {{process.type}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Start time:</td>
                    <td colspan="2">
                        {{process.uptime}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item"></td>
                    <td colspan="2">
                        <form action="/Process/Exit" method="post"
                            style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {Reload()}, 1000)">
                            <input type="submit" value="Exit">
                        </form>
                        <form action="/Process/Abort" method="post"
                            style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {Reload()}, 1000)">
                            <input type="submit" value="Abort">
                        </form>
                        <div style="display: inline-block;" id="restart-form">
                            <button style="transform: translateY(2px);" onclick="Restart(6000)">Restart</button>
                        </div>
                        <div style="display: none;" id="restartProgressPanel">
                            <label for="restartProgress">Restarting...</label>
                            <progress id="restartProgress" value="0" max="100"></progress>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>

	<div class="container loading-effect">
        <h2>System</h2>
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td width="25%" class="Item">Arch:</td>
                    <td colspan="2">
                        {{process.arch}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Platform:</td>
                    <td colspan="2">
                        {{process.platform}}
                    </td>
                </tr>
            </tbody>
        </table>
	</div>

	<div class="container loading-effect">
        <h2>Node.js</h2>
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td width="25%" class="Item">Argv:</td>
                    <td colspan="2">
                        {{process.argv}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Connected:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.connected}}.png">
                        <form action="/Process/Disconnect" method="post"
                            style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {Reload()}, 1000)">
                            <input type="submit" class="show-{{bot.connected}}" value="Disconnect">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Debug port:</td>
                    <td colspan="2">
                        {{process.debugPort}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Execute argv:</td>
                    <td colspan="2">
                        {{process.execArgv}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">No asar:</td>
                    <td colspan="2">
                        <img width="16" height="16" src="/imagesNew/bool-{{process.noAsar}}.png">
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item">Version:</td>
                    <td colspan="2">
                        {{process.version}}
                    </td>
                </tr>
                <tr>
                    <td width="25%" class="Item"></td>
                    <td colspan="2">
                        <a href="https://nodejs.org/en/" target="_blank"><img src="https://nodejs.org/static/images/favicons/favicon-16x16.png" class="miniicon">nodejs.org</a>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
    
    <script>function Reload(){if(location.href.includes('#noReload')){location.reload()}else{location.href+='#noReload';location.reload()};}</script>
    <script src="../scripts/loadEffect.js"></script>
</body>

</html>