<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/stylesNew/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/stylesNew/css_main.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/scripts/commonNew.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="LoadHelp(window); resize(this);" onresize="resize(this);" marginwidth="0" marginheight="0">
   	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)">&lt;</button>

	<h1>Cache</h1>

	<div class="container loading-effect">
		<h2>Users</h2>
        <table border="1" cellspacing="0">
            <tbody>
                <tr>
                    <td class="ListM" style="width: 100%;"></td>
                    <td class="ListM">
                        <b>ID</b>
                    </td>
                    <td class="ListM">
                        <b>Created At</b>
                    </td>
                    <td></td>
                    <td class="ListM">
                        <b>Hash</b>
                    </td>
                </tr>
                {{#each users}}
                <tr>
                    <td style="padding:0 4px 4px 4px;">
                        <div style="display: inline-block; transform: translate(-2px, 4px);">
                            {{#if avatarUrlSmall}}
                            <div class="tooltip">
                                <img src="{{this.avatarUrlSmall}}" width="16" height="16" title="Avatar">
                                <span class="tooltiptext">
                                    <img src="{{this.avatarUrlBig}}">
                                </span>
                            </div>      
                            {{else}}
                            <img src="{{this.defaultAvatarUrl}}" width="16" height="16" title="Default avatar">
                            {{/if}}
                        </div>

                        <span title="Username">{{this.username}}</span><span style="color: #999;" title="Discriminator">#{{this.discriminator}}</span>
                        
                        {{#if bot}}<span class="tag">BOT</span>{{/if}}
                        {{#if system}}<span class="tag">System</span>{{/if}}
                        {{#if flags.HypeSquadOnlineHouse1}}
                        <span class="user-badge">
                            <img src="https://static.wikia.nocookie.net/discord/images/3/31/Hypesquad_bravery_badge.png">
                        </span>
                        {{/if}}

                        {{#if flags.HypeSquadOnlineHouse2}}
                        <span class="user-badge">
                            <img src="https://static.wikia.nocookie.net/discord/images/2/27/Hypesquad_brilliance_badge.png">
                        </span>
                        {{/if}}

                        {{#if flags.HypeSquadOnlineHouse3}}
                        <span class="user-badge">
                            <img src="https://static.wikia.nocookie.net/discord/images/c/ca/Hypesquad_balance_badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if flags.Staff}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Discord-staff.png">
                        </span>
                        {{/if}}
                        
                        {{#if flags.BugHunterLevel1}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Bug_hunter_badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if flags.BugHunterLevel2}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Bug_buster_badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if flags.CertifiedModerator}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Discord_Certified_Moderator.png">
                        </span>
                        {{/if}}
                        
                        {{#if flags.Partner}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/DiscordPartnerBadge.svg">
                        </span>
                        {{/if}}
                        
                        {{#if false}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Early_supporter_badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if false}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/HypeSquad_Event_Badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if false}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/New_badge.svg">
                        </span>
                        {{/if}}
                        
                        {{#if false}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Nitro_badge.png">
                        </span>
                        {{/if}}
                        
                        {{#if false}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/SupportsCommandsBadge.png">
                        </span>
                        {{/if}}
                        
                        {{#if VerifiedDeveloper}}
                        <span class="user-badge">
                            <img src="../imagesNew/userBadges/Verified_developer_badge.png">
                        </span>
                        {{/if}}

                        <div style="
                            width: 16px;
                            height: 16px;
                            border: 1px solid black;
                            border-radius: 3px;
                            background-color: {{this.hexAccentColor}};
                            float: right;
                            transform: translateY(4px);
                        " title="Accent color">
                    </td>
                    <td>
                        {{this.id}}
                    </td>
                    <td>
                        <span title="{{this.createdAt}}">{{this.createdAtText}}</span>
                    </td>
                    <td>
                        <button class="btn-fetch" onclick="Post('/FetchUser?id={{id}}', event, () => { window.location.reload() })"></button>
                    </td>
                    <td>
                        <img width="16" height="16" src="/imagesNew/bool-{{this.haveHash}}.png" style="transform: translateY(3px);">
                        <input type="text" value="{{this.hash}}" readonly style="width: 100px;">
                        <form action="/userViews/GenerateHash" method="post"
                            style="margin: 0; display: inline-block;"
                            onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000);">
                            <input type="text" name="id" value="{{this.id}}" style="display: none;">
                            <input type="submit" value="Generate">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
	</div>

    <div class="container loading-effect">
        <h2>Fetch User</h2>
        <form action="/FetchUser" method="post" style="margin: 0; display: inline-block;"
            onsubmit="
                event.preventDefault()
                Post('/FetchUser?id=' + document.getElementById('fetch-user-id').value, event, () => {
                    window.location.reload()
                }, 'fetch-user-error')
            ">
            <input type="text" name="id" value="{{this.id}}" id="fetch-user-id">
            <input type="submit" value="Fetch">
        </form>
        <p style="color: #b32d2d;" id="fetch-user-error"></p>
    </div>

    <script>
        /** @param {Event} event */
        function Post(url, event, callback, errorLabelID)
        {
            event.srcElement.classList.add('disabled')
            var xmlHttp = new XMLHttpRequest()
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4)
                {
                    event.srcElement.classList.remove('disabled')
                    const res = JSON.parse(xmlHttp.responseText)
                    if (res.message === 'ok') {
                        console.log('Success')
                        callback(xmlHttp.responseText)
                    } else if (res.rawError !== undefined) {
                        console.warn(JSON.stringify(res, null, ' '))
                        if (errorLabelID !== undefined) {
                            const errorLabel = document.getElementById(errorLabelID)
                            var details = ''
                            if (res.rawError.errors !== undefined) {
                                details = `: ${res.rawError.errors.user_id._errors[0].message}`
                            }
                            errorLabel.innerHTML = 
                            `
                            <b><a href='${res.url}' target='_blank'>HTTP ${res.method}</a>: ${res.status}</b><br>
                            ${res.rawError.message} (code: ${res.rawError.code})${details}
                            `
                        }
                    }
                }
            }
            xmlHttp.open('POST', url, true)
            xmlHttp.send(null)
        }
    </script>
    <script src="../scripts/loadEffect.js"></script>
</body>

</html>