<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/dynaform/css-vars.css" rel="stylesheet" type="text/css">
	<link href="/dynaform/css_main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/dynaform/common.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="setTagStr(document,'ntw_status'); resize(this);" onresize="resize(this);" marginwidth="0"
	marginheight="0">
	<table id="autoWidth" style="width: 598px;">
		<tbody>
			<tr>
				<td class="h1" colspan="3" id="t_title">Application</td>
			</tr>
			<tr>
				<td class="blue" colspan="3"></td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr"></td>
				<td colspan="2">
					<a href="https://discord.com/developers/applications/{{app.id}}/information" target="_blank">Manage application</a>
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">ID:</td>
				<td colspan="2">
					{{app.id}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Name:</td>
				<td colspan="2">
					{{app.name}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Created at:</td>
				<td colspan="2">
					{{app.createdAt}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Cover:</td>
				<td colspan="2">
					<img src="{{app.coverUrl}}" width="32" height="32">
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Icon:</td>
				<td colspan="2">
					<img src="{{app.iconUrl}}" width="32" height="32">
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Custom install url:</td>
				<td colspan="2">
					{{app.customInstallURL}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Description:</td>
				<td colspan="2">
					{{app.description}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Partial:</td>
				<td colspan="2">
                    <img width="16" height="16" src="/images/bool-{{channel.partial}}.png">
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Rpc origins:</td>
				<td colspan="2">
					{{app.rpcOrigins}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Tags:</td>
				<td colspan="2">
					{{app.tags}}
				</td>
			</tr>
			<tr>
				<td class="blue" colspan="3"></td>
			</tr>
			<tr>
				<td class="h2" colspan="3" id="t_lan">BOT</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr"></td>
				<td colspan="2">
					<a href="https://discord.com/developers/applications/{{app.id}}/bot" target="_blank">Manage bot</a>
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Require code grant:</td>
				<td colspan="2">
					{{app.botRequireCodeGrant}}
				</td>
			</tr>
			<tr>
				<td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">Is public:</td>
				<td colspan="2">
                    <img width="16" height="16" src="/images/bool-{{channel.botPublic}}.png">
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>