<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/dynaform/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/css_main.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/tree.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/dynaform/common.js" type="text/javascript"></script>
    <script language="javascript" src="/dynaform/tree.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="setTagStr(document,'ntw_status'); resize(this);" onresize="resize(this);" marginwidth="0"
    marginheight="0">
    <table id="autoWidth" style="width: 598px;">
        <tbody>
            <tr>
                <td class="h1" colspan="3" id="t_title">Cache</td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td class="h2" colspan="3" id="t_lan">Channels</td>
            </tr>
            <tr>
                <td width="698" align="center">
                    <table class="datas" border="1" align="center" width="698" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="ListM">
                                    <div class="caret-all"></div>
                                </td>
                                <td class="ListM" style="width: 100%;">
                                    <b>Name</b>
                                </td>
                                <td class="ListM">
                                    <b>ID</b>
                                </td>
                                <td class="ListM">
                                    <b>Delb.</b>
                                </td>
                                <td class="ListM">
                                    <b>Mange.</b>
                                </td>
                                <td class="ListM">
                                    <b>viewb.</b>
                                </td>
                                <td class="ListM">
                                    <b>Invt.</b>
                                </td>
                                <td class="ListM">
                                    <b>Join.</b>
                                </td>
                                <td class="ListM">
                                    <b>Lock.</b>
                                </td>
                                <td class="ListM">
                                    <b>Send.</b>
                                </td>
                                <td class="ListM">
                                    <b>Spek.</b>
                                </td>
                                <td class="ListM">
                                    <b>Uarc.</b>
                                </td>
                            </tr>
                            {{#each channels}}
                            <tr>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img src="../images/{{this.typeUrl}}.png" width="16" height="16" title="{{this.typeText}}">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.name}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.id}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.deletable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.manageable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.viewable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.invitable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.joinable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.locked}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.sendable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.speakable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.unarchivable}}.png">
                                </td>
                            </tr>
                            {{/each}}
                            {{#each groups}}
                            <tr>
                                <td style="padding:0 2 0 2;word-break:break-all; width: 16px;">
                                    <div class="caret" id="{{this.id}}"></div>
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.name}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.id}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.deletable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.manageable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.viewable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all" colspan="8">
                                    
                                </td>
                            </tr>
                            {{#each channels}}
                            <tr class="nested {{this.parentId}}">
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img src="../images/{{this.typeUrl}}.png" width="16" height="16" title="{{this.typeText}}">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.name}}
                                    <span class="tag-{{this.nsfw}}">NSFW</span>
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.id}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.deletable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.manageable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.viewable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.invitable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.joinable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.locked}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.sendable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.speakable}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.unarchivable}}.png">
                                </td>
                            </tr>
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
