<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/dynaform/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/css_main.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/tree-default.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/dynaform/common.js" type="text/javascript"></script>
    <script language="javascript" src="/dynaform/tree-default.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="LoadHelp(window); setTagStr(document,'ntw_status'); resize(this);" onresize="resize(this);" marginwidth="0"
    marginheight="0">
   	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)"><</button>

    <table id="autoWidth" style="width: 598px;">
        <tbody>
            <tr>
                <td class="h1" colspan="3" id="t_title">Moderating</td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td class="h2" colspan="3" id="t_lan">Servers</td>
            </tr>
            <tr>
                <td width="698" align="center">
                    <table class="datas" border="1" align="center" width="698" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="ListM">
                                    <b>Icon</b>
                                </td>
                                <td class="ListM" style="width: 100%;">
                                    <b>Name</b>
                                </td>
                                <td class="ListM">
                                    <b>ID</b>
                                </td>
                                <td class="ListM">
                                    <b>Avai.</b>
                                </td>
                                <td class="ListM">
                                    
                                </td>
                            </tr>
                            {{#each servers}}
                            <tr>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <div class="tooltip">
                                        <img class="server-icon" src="{{this.iconUrlSmall}}" width="16" height="16" title="{{this.nameAcronym}}">
                                        <span class="tooltiptext">
                                            <img src="{{this.iconUrlLarge}}" title="Ennek a szervernek nincs ikonja">
                                        </span>
                                    </div>
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.name}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    {{this.id}}
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <img width="16" height="16" src="/images/bool-{{this.available}}.png">
                                </td>
                                <td style="padding:0 2 0 2;word-break:break-all">
                                    <form action="/userRpm/Moderating/Search" method="post"
                                        style="margin: 0;"
                                        onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000);">
                                        <input type="text" name="id" value="{{this.id}}" style="display: none;">
                                        <input type="submit" value="View">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td width="698" align="center">
                    <form action="/userRpm/Moderating/Search" method="post"
                        onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000);">
                        <input type="text" name="id" value="{{serverId}}" placeholder="Server ID" required>
                        <input type="submit" value="Search">
                        <span style="font-weight: bold; color: red;">{{searchError}}</span>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>