<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
	<link href="/dynaform/css_main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/dynaform/common.js" type="text/javascript"></script>
	<script language="javascript" src="/dynaform/custom.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body onload="setTagStr(document,'ntw_status'); resize(this);" onresize="resize(this);" marginwidth="0"
	marginheight="0">
    <table id="autoWidth" style="width: 598px;">
        <tbody>
            <tr>
                <td class="h1" colspan="3" id="t_title">Process</td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">arch:</td>
                <td colspan="2">
                    {{process.arch}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">config.variables:</td>
                <td colspan="2">
                    {{process.config.variables}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">config.target_defaults:</td>
                <td colspan="2">
                    {{process.config.target_defaults}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">execPath:</td>
                <td colspan="2">
                    {{process.execPath}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">platform:</td>
                <td colspan="2">
                    {{process.platform}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">chromevers:</td>
                <td colspan="2">
                    {{process.chrome}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">contextId:</td>
                <td colspan="2">
                    {{process.contextId}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">contextIsolated:</td>
                <td colspan="2">
                    {{process.contextIsolated}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">defaultApp:</td>
                <td colspan="2">
                    {{process.defaultApp}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">exitCode:</td>
                <td colspan="2">
                    {{process.exitCode}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">features:</td>
                <td colspan="2">
                    {{process.features}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">isMainFrame:</td>
                <td colspan="2">
                    {{process.isMainFrame}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">mas:</td>
                <td colspan="2">
                    {{process.mas}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">noDeprecation:</td>
                <td colspan="2">
                    {{process.noDeprecation}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">pid:</td>
                <td colspan="2">
                    {{process.pid}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">ppid:</td>
                <td colspan="2">
                    {{process.ppid}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">resourcesPath:</td>
                <td colspan="2">
                    {{process.resourcesPath}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">sandboxed:</td>
                <td colspan="2">
                    {{process.sandboxed}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">throwDeprecation:</td>
                <td colspan="2">
                    {{process.throwDeprecation}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">title:</td>
                <td colspan="2">
                    {{process.title}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">traceDeprecation:</td>
                <td colspan="2">
                    {{process.traceDeprecation}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">traceProcessWarnings:</td>
                <td colspan="2">
                    {{process.traceProcessWarnings}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">type:</td>
                <td colspan="2">
                    {{process.type}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">windowsStore:</td>
                <td colspan="2">
                    {{process.windowsStore}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">uptime:</td>
                <td colspan="2">
                    {{process.uptime}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr"></td>
                <td colspan="2">
                    <form action="/userRpm/Process/Exit" method="post"
                        style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
                        <input type="submit" value="Exit">
                    </form>
                    <form action="/userRpm/Process/Abort" method="post"
                        style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
                        <input type="submit" value="Abort">
                    </form>
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td class="h2" colspan="3" id="t_lan">Node.js</td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">argv:</td>
                <td colspan="2">
                    {{process.argv}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">connected:</td>
                <td colspan="2">
                    {{process.connected}}
                    <form action="/userRpm/Process/Disconnect" method="post"
                        style="display: inline-block;" onsubmit="this.style.pointerEvents='none'; this.style.opacity='20%'; setTimeout(() => {window.location.reload()}, 1000)">
                        <input type="submit" class="show-{{bot.connected}}" value="Disconnect">
                    </form>
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">debugPort:</td>
                <td colspan="2">
                    {{process.debugPort}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">execArgv:</td>
                <td colspan="2">
                    {{process.execArgv}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">noAsar:</td>
                <td colspan="2">
                    {{process.noAsar}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">release:</td>
                <td colspan="2">
                    {{process.release}}
                </td>
            </tr>
            <tr>
                <td width="25%" class="Item" id="t_mac_addr" name="t_mac_addr">version:</td>
                <td colspan="2">
                    {{process.version}}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>