<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
    <link href="/dynaform/css-vars.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/css_main.css" rel="stylesheet" type="text/css">
    <link href="/dynaform/tree-logs.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/dynaform/common.js" type="text/javascript"></script>
    <script language="javascript" src="/dynaform/tree-default.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <style>
        .ping-panel {
            width: 300px;
            border: 1px solid #0007;
            height: 10px;
            font-size: 0;
            display: inline-flex;
            overflow: hidden;
            transform: translate(22px, 4px);
        }

        .ping-element {
            display: inline-block;
            max-height: 10px;
            min-height: 2px;
            height: 3px;
            flex: 1 100%;
            background-color: #fff;
            border-bottom: 10px solid #a5a5a5;
            color: #000;
            user-select: none;
            transition-duration: 100ms;
        }

        .ping-element.good {
            border-bottom: 10px solid #49d12e;
        }

        .ping-element.fair {
            border-bottom: 10px solid #fff12e;
        }

        .ping-element.bad {
            border-bottom: 10px solid #ff951b;
        }

        .ping-element.verybad {
            border-bottom: 10px solid #f52222;
        }

        .ping-element:hover {
            background-color: #eee;
        }

        .ping-element.fair:hover {
            border-bottom: 10px solid #c4b81a;
        }

        .ping-element.bad:hover {
            border-bottom: 10px solid #8d4e05;
        }

        .ping-element.good:hover {
            border-bottom: 10px solid #2d9419;
        }

        .ping-element.verybad:hover {
            border-bottom: 10px solid #831d1d;
        }

        .uptimehistory-panel {
            width: 600px;
            border: 1px solid #0007;
            height: 10px;
            font-size: 0;
            display: inline-flex;
            transform: translate(22px, 4px);
        }

        .uptimehistory-element {
            display: inline-block;
            height: 10px;
            flex: 1 100%;
            border-bottom-color: #a5a5a5;
            transition-duration: 100ms;
            border-bottom-style: solid;
            border-bottom-width: 0px;
            border-bottom-color: #6bdd0d;
        }

        .uptimehistory-element:hover {
            border-bottom-color: #4da505;
        }

        .uptimehistory-element.online-good {
            height: 0px;
            border-bottom-width: 10px;
        }

        .uptimehistory-element.online-fair {
            height: 1px;
            border-bottom-width: 9px;
        }

        .uptimehistory-element.online-bad {
            height: 2px;
            border-bottom-width: 8px;
        }

        .uptimehistory-element.online-verybad {
            height: 3px;
            border-bottom-width: 7px;
        }

        .hour-22,
        .hour-23,
        .hour-0,
        .hour-1,
        .hour-2,
        .hour-3,
        .hour-4 {
            background-color: #aaa;
        }
        .hour-5,
        .hour-21 {
            background-color: #bbb;
        }
        .hour-6,
        .hour-20 {
            background-color: #ccc;
        }
        .hour-7,
        .hour-19 {
            background-color: #ddd;
        }
        .hour-8,
        .hour-9,
        .hour-10,
        .hour-11,
        .hour-12,
        .hour-13,
        .hour-14,
        .hour-15,
        .hour-16,
        .hour-17,
        .hour-18 {
            background-color: #eee;
        }
    </style>
</head>

<body onload="LoadHelp(window); setTagStr(document,'ntw_status'); resize(this);" onresize="resize(this);" marginwidth="0"
    marginheight="0">
   	<button class="show-hide-part-button" onclick="parent.ToggleHelpPanel(this)"><</button>

    <table id="autoWidth" style="width: 598px;">
        <tbody>
            <tr>
                <td class="h1" colspan="3" id="t_title">System Log</td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td class="h2" colspan="3" id="t_lan">Uptime history</td>
            </tr>
            <tr>
                <td>
                    <div class="uptimehistory-panel">
                        {{#each uptimeHistory}}
                        <div class="uptimehistory-element {{status}} tooltip hour-{{hours}}">
                            <span class="tooltiptext" style="font-size: medium; transform: translateY(-30px);">
                                {{date}}
                            </span>
                        </div>
                        {{/each}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="3"></td>
            </tr>
            <tr>
                <td>
                    <ul id="myUL">
                        {{#each logs}}
                        <li style="margin-bottom: 10px;">
                            <span class="caret log-file" style="font-weight: bold;">{{dateText}}</span>
                            <ul class="nested">
                                {{#each groups}}
                                <li>
                                    <span class="caret log-group-{{isInvisible}}" style="font-weight: bold;">
                                        <img src="/images/user.png" class="miniicon show-{{startedByUser}}">
                                        <img src="/images/system.png" class="miniicon show-invert-{{startedByUser}}">
                                        {{startTime}}
                                        -
                                        <span class="show-{{this.running}}">
                                            <img class="miniicon" src="/images/running.png">
                                        </span>
                                        <span class="show-invert-{{this.running}}">
                                            <img src="/images/user.png" class="miniicon show-{{closedByUser}}">
                                            <img src="/images/system.png" class="miniicon show-invert-{{closedByUser}}">
                                            {{endTime}}
                                        </span>
                                    </span>
                                    <ul class="nested">
                                        <li>
                                            <img class="miniicon" src="/images/net.png">
                                            <b>Ping:</b>
                                            <div class="ping-panel">
                                                {{#each pings}}
                                                <div style="height: calc(100% / (({{ping}} - 100) / 10));"
                                                    class="ping-element {{quality}}"> </div>
                                                {{/each}}
                                            </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img class="miniicon" src="/images/log.png">
                                            <b>Logs:</b>
                                        </li>
                                        {{#each logs}}
                                        <li>
                                            <b style="margin-left: 36px;">{{time}}:</b> {{this.log}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                    {{/each}}
                                </li>
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>