<div class="embed" style="{{#if this.color}}border-left-color:{{this.color}};{{/if}}{{#if this.thumbnail.url}}min-height:130px;{{/if}}">
    {{#if this.thumbnail.url}}
    <img src="{{this.thumbnail.url}}" height="100" class="embed-thumbnail">
    {{/if}}
    {{#if this.author}}
    <div class="embed-author">
        {{#if this.author.iconURL}}
        <img src="{{this.author.iconURL}}">
        {{/if}}

        <a{{#if this.author.url}} href="{{this.author.url}}"{{/if}} target="_blank">
            {{this.author.name}}
        </a>
    </div>
    {{/if}}
    <a{{#if this.url}} href="{{this.url}}"{{/if}} target="_blank" class="embed-title {{#if this.url}}embed-title-link{{/if}}">
        {{#with this.title}}{{> content}}{{/with}}
    </a>
    <p class="embed-description">
        {{#with this.description}}{{> content}}{{/with}}
    </p>
    <div class="embed-field-container">
        {{#each this.fields}}
        <div class="embed-field"{{#if this.inline}} style="display:inline-block"{{/if}}>
            <div class="embed-field-name">
                {{#with this.name}}{{> content}}{{/with}}
            </div>
            <div class="embed-field-value">
                {{#with this.value}}{{> content}}{{/with}}
            </div>
        </div>
        {{/each}}
    </div>
    {{#if this.image}}
    <img src="{{this.image.url}}" class="embed-image">
    {{/if}}
    <div class="embed-footer">
        {{this.footer.text}}
    </div>
</div>