<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>

<table cellspacing="0" cellpadding="0"
    style="display: flexbox; flex-direction: row; overflow: hidden; height: 100%; border: none;">

    <th style="background-color: #202225; width: 32px; border: none;">
        <div class="serverList" style="flex: content;">
            <div class="serverHomeSelected" style="margin: 4px 10px 4px 12px;" onclick="SelectHome()">
                <img src="home.png">
            </div>
            <div style="margin: 0 0 8px; justify-content: center; width: 72px; text-align: center;">
                <div style="margin: auto; height: 2px; width: 32px; border-radius: 1px; background-color:#ffffff0f; ">
                </div>
            </div>
            {{#each servers}}
            <div id="{{this.id}}" class="server" onclick="parent.SelectGuild(this.id)"
                style="margin: 4px 10px 4px 12px;">
                <img src="{{this.iconUrl}}">
            </div>
            {{/each}}
        </div>
    </th>
    <th style="background-color: #2f3136; text-align:left; display: flexbox; flex-flow: row; border: none;">
        <div style=" width: 240px; height: 48px; border-bottom: 2px #000 solid; text-align: center;">
            <div style="position: relative; top: 12px; font-size: 17px;"></div>
        </div>
        <div style="width: 240px; height: 8px;"></div>
        <div class="user0 userSelected" onclick="SelectHomeHome()">
            <div style="transform: translate(3px, -6px);">
                <div style="position: relative; top: 7px; left: 5px; display: inline-block;">
                    <svg name="Home" width="24" height="24" color="currentColor">
                        <defs>
                            <path id="home-a" d="M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"></path>
                        </defs>
                        <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
                            <mask id="home-b" fill="#fff">
                                <use xlink:href="#home-a"></use>
                            </mask>
                            <use fill="#000" xlink:href="#home-a"></use>
                            <g fill="currentColor" mask="url(#home-b)">
                                <path d="M-2-3h24v24H-2z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <p style="display: inline-block;text-align: left; transform: translate(20px, 0px)">
                    Home
                </p>
            </div>
        </div>
        <h2
            style="font-size: 15px; padding: 18px 8px 4px 18px; height: 40px; text-transform: uppercase; font-weight: 600; letter-spacing: .25px; color: rgb(142 146 151);">
            Közvetlen üzenetek
        </h2>
        <div id="channellist" class="channelList" style="flex: 0 1 40px;height: calc(100% - 44px - 61px - 120px);">
            {{#each users}}
            <div id="{{this.id}}" class="user{{this.selected}} test" onclick="SelectUserChannel(this.id)">
                <div style="pointer-events: none; transform: translate(0px, -6px);">
                    <div style="position: relative; top: 10px; left: -10px; display: inline-block;">
                        <img src="{{this.status}}.png" width="10px" height="10px"
                            style="position: relative; top: 0px; left: 36px; z-index: 10;">
                        <img src="{{this.avatar}}" width="32px" height="32px" style="border-radius: 50%;">
                        <div
                            style="border-radius: 8px; width: 16px; height: 16px; position:relative; top: -5px; left: -8px; background-color: #202225; display: inline-block; z-index: 9; margin: -8px">
                        </div>
                    </div>
                    <p style="display: inline-block;text-align: left; transform: translate(0px, -3px)">
                    <div class="groupArrow" style="position:absolute; top: 22px; left: 5px;"></div>{{this.username}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="statusPanel">
            <iframe id="statusPanel" src="" style="border: none;"></iframe>
        </div>
    </th>
    <th style="width:100%; height: 100%; border: none;">
        <div class="serverMessagesPanel" style="height: 100%;">
            <table cellspacing="0" cellpadding="0" style="width: 100%; overflow:auto;height: 100%;">
                <tr>
                    <div class="channelHeader"
                        style="text-align: left; height: 48px; background-color: #36393f; border-bottom: 2px #000 solid; padding: 0px 8px;">
                        <svg name="Home" width="24" height="24" color="currentColor"
                            style="color: rgb(114 118 125); margin: 11px;">
                            <defs>
                                <path id="home-a" d="M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"></path>
                            </defs>
                            <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
                                <mask id="home-b" fill="#fff">
                                    <use xlink:href="#home-a"></use>
                                </mask>
                                <use fill="#000" xlink:href="#home-a"></use>
                                <g fill="currentColor" mask="url(#home-b)">
                                    <path d="M-2-3h24v24H-2z"></path>
                                </g>
                            </g>
                        </svg>
                        <div style="display: inline-block; color: white; top: -16px; left: -4px; position: relative;">
                            Home</div>
                        <div
                            style="height: 24px; width: 1px; background-color: #444; display: inline-block; margin: 12px;">
                        </div>
                    </div>
                </tr>
                <tr>
                    <th class="dhflsfsdhfjiosdifjsdf" style="background-color: #36393f; height: 100%;">
                        <h2>Napló</h2>
                        <div class="log" style="overflow-y: scroll; height: calc(100% - 600px);">
                            {{#each logs}}
                            <div class="logMessage">
                                <div style="float: left;">
                                    <img width="16" height="16" src="log{{this.type}}.svg">
                                </div>
                                <div style="height: fit-content;float: right; width: calc(100% - 60px);">
                                    <div style="height: fit-content; width: 100%; text-align: left;">
                                        <div
                                            style="display: inline-block; color: #72767d; font-weight:normal; float: right; margin: 5px;">
                                            {{this.time}}</div>
                                        <div
                                            style="height: fit-content; display: inline-block; width: calc(100% - 100px);">
                                            <p style="user-select: text;">{{this.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <h2>Státusz</h2>
                        <div
                            style="text-align: left; color: #d7d6d9; margin: 5px; border-radius: 5px; background-color: #00000011; padding: 5px 10px;">
                            Ping: {{client.ping}}ms
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </th>
</table>


<!--Form Creators-->
{{#each users}}
<div id="userModal{{this.id}}" class="modal">
    <div class="modal-content animate">
        <div class="modal-header">
            <header>
                <div class="modal-banner" style="background-color: {{this.bannerColor}};"></div>
                <div class="modal-header-header">
                    <img class="modal-header-header-avatar" src="{{this.avatar}}" />
                    <div class="modal-header-header-top">
                        <div class="modal-relationshipButtons">
                            <button id="{{this.id}}" type="button" onclick="SelectUserChannel(this.id)">
                                <div class="contents-18-Yxp">Üzenet küldése</div>
                            </button>
                            <div class="" role="button" tabindex="0">
                                <svg class="modal-additionalActionsIcon" aria-hidden="false" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M24 0v24H0V0z"></path>
                                        <path fill="currentColor"
                                            d="M12 16c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-name-tag">
                    <div class="modal-username">{{this.username}}</div>
                    <div class="modal-discriminator">#{{this.discriminator}}</div>
                </div>
            </header>
            <div class="modal-tabs">
                <div class="modal-tabs-tabs">
                    <div class="modal-tab modal-tab-selected">Felhasználói adatok</div>
                    <div class="modal-tab">Közös szerverek</div>
                    <div class="modal-tab">Egyéb</div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <iframe style="border: none; margin-top: 6px; width: 100%; height: 100%;" id="userDatabase{{this.id}}">

            </iframe>
        </div>
    </div>
</div>
{{/each}}

<!-- initially hidden right-click menu -->
<div class="hide" id="rmenu">
    <div class="conMenu-group">
        <div id="userIdConmenu" style="display: none;"></div>
        <div class="conMenu-item" onclick="OpenProfile(document.getElementById('userIdConmenu').innerText)">Profil</div>
    </div>
    <div class="conMenu-spectator"></div>
    <div class="conMenu-group">
        <div class="conMenu-item"
            onclick="navigator.clipboard.writeText(document.getElementById('userIdConmenu').innerText)">ID másolása
        </div>
    </div>
</div>

<script>
    window.onclick = function (event) {
        for (let i = 0; i < document.getElementsByClassName('modal').length; i++) {
            const modal = document.getElementsByClassName('modal')[i]
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>

<script>
    document.body.onload = function () {
        //document.getElementById("serverList").src = window.location.href.split("?")[0] + "?password={{this.token}}" + "&view=4"
        document.getElementById("statusPanel").src = window.location.href.split("?")[0] + "?password={{this.token}}" + "&view=5"
    }
</script>

<script>
    /** @param {string} id */
    function OpenProfile(id) {
        document.getElementById('userModal' + id).style.display = 'flex'
        document.getElementById('userDatabase' + id).src = window.location.href.split("?")[0] + "?password={{this.token}}" + "&view=3&user=" + id
    }
</script>

<script src="contextMenu.js"></script>